h3
  .pull-right
    .btn-group(uib-dropdown='', is-open='language.listIsOpen')
      //- button.btn.btn-default(type='button', uib-dropdown-toggle='')
      //-   | {{language.selected}}
      //-   span.caret
      ul.dropdown-menu.dropdown-menu-right.animated.fadeInUpShort(role='menu')
        li(ng-repeat='(localeId, langName) in language.available')
          a(ng-click='language.set(localeId, $event)', href='#') {{langName}}
  | Investor Dashboard
.row
  toaster-container(style='margin-top:80px', toaster-options="{'close-button':true}")
  .col-lg-4.col-sm-6.kpi(data-ajax-cloak='')
    .panel.widget.bg-primary
      .row.row-table
        .col-xs-4.text-center.bg-primary-dark.pv-lg
          em.icon-people.fa-3x
        .col-xs-8.pv-lg
          .h2.mt0 {{totalinvestor}}
          .text-uppercase Total Investor
  .col-lg-4.col-sm-6.kpi(data-ajax-cloak='')
    .panel.widget.bg-purple
      .row.row-table
        .col-xs-4.text-center.bg-purple-dark.pv-lg
          em.icon-clock.fa-3x
        .col-xs-8.pv-lg
          .h2.mt0
            | {{totalwaitinglist}}
          .text-uppercase Waiting List
  .col-lg-4.col-md-6.col-sm-12.kpi(data-ajax-cloak='')
    .panel.widget.bg-green
      .row.row-table
        .col-xs-4.text-center.bg-green-dark.pv-lg
          em.icon-bubbles.fa-3x
        .col-xs-8.pv-lg
          .h2.mt0 {{totalChannel}}
          .text-uppercase Total Channel
.row
  .col-lg-12
    .row
      .col-lg-12
        #panelChart9.panel.panel-default(ng-controller='FlotChartController as chart')
          .panel-heading
            paneltool(tool-collapse='tool-collapse', tool-refresh='traditional')
            .panel-title Inbound visitor statistics
          .panel-wrapper(uib-collapse='panelChart9')
            .panel-body
              flot(dataset='chart.barData', options='chart.barOptions', height='250px')
