h3
  | Investors
.row
  toaster-container(style='margin-top:80px', toaster-options="{'close-button':true}")
  .col-sm-12
    .panel.panel-default
      .panel-heading New Investor
      .panel-body(ng-show='editor')
        form(role='form', name='Investorform', novalidate='')
          .row
            .col-md-3.col-lg-3
              .form-group
                label First Name
                input.form-control(name='firstname', ng-model='investor.UserFirstName', type='text', placeholder='First Name', required='')
                div(ng-show='Investorform.$submitted || Investorform.firstname.$touched')
                  .text-danger(ng-show='Investorform.firstname.$error.required') Please enter first name
            .col-md-3.col-lg-3
              .form-group
                label Last Name
                input.form-control(name='lastname', ng-model='investor.UserLastName', type='text', placeholder='Last Name', required='')
                div(ng-show='Investorform.$submitted || Investorform.lastname.$touched')
                  .text-danger(ng-show='Investorform.lastname.$error.required') Please enter last name
            .col-md-3.col-lg-3
              .form-group
                label Email
                input.form-control(name='useremail', ng-model='investor.UserEmail', type='email', placeholder='Email', required='')
                div(ng-show='Investorform.$submitted || Investorform.useremail.$touched')
                  .text-danger(ng-show='Investorform.useremail.$error.required') Please enter email
                  .text-danger(ng-show='Investorform.useremail.$error.email') Please enter valid email
            .col-md-3.col-lg-3
              .form-group
                label Password
                input.form-control(name='password', ng-model='investor.UserPassword', type='password', placeholder='Password', required='')
                div(ng-show='Investorform.$submitted || Investorform.password.$touched')
                  .text-danger(ng-show='Investorform.password.$error.required') Please enter password
          .row
            .col-md-3.col-lg-3
              .form-group
                label Gender
                select.form-control(ng-model='investor.selectedGender', name='gender', ng-options='i.Name for i in GenderDropBind', required='')
                  option(value='') Select Gender
                div(ng-show='Investorform.$submitted || Investorform.gender.$touched')
                  .text-danger(ng-show='Investorform.gender.$error.required') Please select gender
          button.btn.btn-sm.btn-default(type='submit', ng-click='Investorform.$valid && submitbtn(investor,Investorform)') Submit
          button.btn.btn-sm.btn-default(type='reset', ng-click='disablenewinvestor(Investorform)') Cancel
      div(ng-hide='editor')
        button.btn.btn-green(ng-click='enablenewinvestor(Investorform)')
          | ADD NEW 
          i.fa.fa-plus
.container-fluid.table-responsive
  table.table.table-bordered.table-hover.bg-white(ng-table="investorTable",ng-show='investorgrid')
    thead
      tr(style='font-weight: bold')
        td(style='width:25%') First Name
        td(style='width:25%') Last Name
        td(style='width:35%') Email
        td(style='width:15%') Gender
    tbody    
      tr(ng-repeat='i in investorlist track by $index')
        td
          | {{i.firstName}}
        td
          | {{i.lastName}}
        td
          | {{i.email}}
        td
          | {{i.gender}}
