h3
  | Age Verification
.row
  toaster-container(style='margin-top:80px', toaster-options="{'close-button':true}")
  .col-sm-12
    .panel.panel-default
      .panel-heading New Age Verification
      .panel-body
        form(role='form', name='ageverifyform', novalidate='')
          .row
            .col-md-6.col-lg-6
              .form-group
                label Age From
                select.form-control(ng-model='selectfrom', name='fromage', ng-options='number for number in fromList', required='')
                  option(value='') Select Age From
                div(ng-show='ageverifyform.$submitted || ageverifyform.fromage.$touched')
                  .text-danger(ng-show='ageverifyform.fromage.$error.required') Please enter age from
            .col-md-6.col-lg-6
              .form-group
                label Age To
                select.form-control(ng-model='selectto', name='toage', ng-options='i for i in toList', required='')
                  option(value='') Select Age To
                div(ng-show='ageverifyform.$submitted || ageverifyform.toage.$touched')
                  .text-danger(ng-show='ageverifyform.toage.$error.required') Please enter age to
          button.btn.btn-sm.btn-default(type='submit', ng-click='ageverifyform.$valid && submitbtn()') Submit
.container-fluid.table-responsive(ng-show='tableage')
  table.table.table-bordered.table-hover.bg-white
    thead
      tr(style='font-weight: bold')
        td(style='width:50%') Age From
        td(style='width:50%') Age To
    tbody
      tr
        td
          | {{minage}}
        td
          | {{maxage}}
