h3
  | FAQ Management
script#firstDialogId(type='text/ng-template').
  <div><h3 class="mt0">Delete Confirmation</h3><p>Do you want to delete ?</p><button class="btn btn-primary" type="button" ng-click="ConfirmDeletebtn(Faqform)">Delete</button>
  </div>
.row
  .col-sm-12
    .panel.panel-default
      toaster-container(style='margin-top:80px', toaster-options="{'close-button':true}")
      .panel-heading New FAQ
      .panel-body(ng-show='editor')
        form(role='form', name='Faqform', novalidate='')
          .row
            .col-md-6.col-lg-6
              .form-group
                label Question
                input(type='hidden', name='', value='', ng-model='faq.Id')
                textarea.form-control(name='question', ng-model='faq.question', placeholder='Question', required='')
                div(ng-show='Faqform.$submitted || Faqform.question.$touched')
                    .text-danger(ng-show='Faqform.question.$error.required') Please enter faq question
            .col-md-6.col-lg-6
              .form-group
                label Answer
                textarea.form-control(name='answer', ng-model='faq.answer', placeholder='Answer', required='')
                div(ng-show='Faqform.$submitted || Faqform.answer.$touched')
                    .text-danger(ng-show='Faqform.answer.$error.required') Please enter faq answer
          div(ng-if='Createfaqbutton')
            button.btn.btn-sm.btn-default(type='submit', ng-click='Faqform.$valid &&  submitbtn(faq,Faqform)') Submit
            button.btn.btn-sm.btn-default(type='reset', ng-click='disablenewfaq(Faqform)') Cancel
          div(ng-if='updatefaqbutton')
            button.btn.btn-sm.btn-default(type='submit', ng-click='Faqform.$valid &&  updatebtn(faq,Faqform)') Update
            button.btn.btn-sm.btn-default(type='reset', ng-click='disableupdatefaq(Faqform)') Cancel
      div(ng-hide='editor')
          button.btn.btn-green(ng-click='enablenewfaq(Faqform)')
            | ADD NEW 
            i.fa.fa-plus
.container-fluid.table-responsive
  table.table.table-bordered.table-hover.bg-white(ng-table="faqTable",ng-show='faqgrid')
    thead
      tr(style='font-weight: bold')
        td(style='width:40%') Question
        td(style='width:30%') Answer
        td(style='width:15%') Edit
        td(style='width:15%') Delete
    tbody
      tr(ng-repeat='i in faqlist track by $index')
        td
          | {{i.title}}
        td
          | {{i.description}}
        td
          button.btn.btn-sm.btn-info(ng-click='Editbtn(i)', title='Edit')
            em.fa.fa-pencil
        td
          button.btn.btn-sm.btn-danger(ng-click='Deletebtn(i)', title='Delete')
            em.fa.fa-trash
