h3
  | Country Management
.row
  toaster-container(style='margin-top:80px', toaster-options="{'close-button':true}")
  .col-sm-12
    .panel.panel-default
      .panel-heading New Country
      .panel-body
        form(role='form', name='countryform', novalidate='')
          .row
            .col-md-6.col-lg-6
              .form-group
                label Country Name
                select.form-control(ng-model='country.selectcountry', name='countryname', ng-options='i.Name for i in countryBind', required='')
                  option(value='') Select Country
                div(ng-show='countryform.$submitted || countryform.countryname.$touched')
                  .text-danger(ng-show='countryform.countryname.$error.required') Please select country name
          button.btn.btn-sm.btn-default(type='submit', ng-click='countryform.$valid && submitbtn(country)') Submit
.container-fluid.table-responsive
  table.table.table-bordered.table-hover.bg-white(ng-table="countryTable",ng-show='countrygrid')
    thead
      tr(style='font-weight: bold')
        td(style='width:35%') Name
        td(style='width:20%') Status
        td(style='width:15%') Edit
    tbody
      tr(ng-repeat='i in CountryList')
        td
          | {{i.name}}
        td.text-success(ng-if='i.status')
          | Enable
        td.text-danger(ng-if='!i.status')
          | Disable
        td
          button.mb-sm.btn.btn-default(ng-if='!i.status', ng-click='enablebtn(i,true)', title='Enable', type='button') Enable
          button.mb-sm.btn.btn-default(ng-if='i.status', ng-click='enablebtn(i,false)', title='Disable', type='button') Disable
