h3 Favourites List
.row
  toaster-container(style='margin-top:80px', toaster-options="{'close-button':true}")
  .col-sm-12
    .panel.panel-default
      .panel-heading 
      .panel-body
        form(role='form', name='favouritelistform', novalidate='')
          .row
            .col-md-6.col-lg-6
              .form-group
                label Channel Name
                input.form-control(name='channelname', ng-model='channelname', type='text', placeholder='Channel Name', required='')
          button.btn.btn-sm.btn-default(type='submit', ng-click='searchbtn()') search
.container-fluid.table-responsive
  table.table.table-bordered.table-hover.bg-white(ng-table="favouritelistTable",ng-show='favouritelistgrid')
    thead
      tr(style='font-weight: bold;')
        td(style='width:35%') Email
        td(style='width:15%;') Channel Id
        td(style='width:15%') Channel Title
        td(style='width:15%') Country
        td(style='width:10%;') Default
        td(style='width:10%;') Action
    tbody
      tr(ng-repeat='i in Favouritelist')
        td {{i.email}}
        td {{i.channelId}}
        td {{i.channelName}}
        td {{i.country}}
        td(ng-if='i.isDefault')
          .label.label-success True
        td(ng-if='!i.isDefault') 
          .label.label-danger  False
        //- td(ng-if="!i.isDefault")
        //-   button.mb-sm.btn.btn-default(type='button', ng-click='enablebtn(true,i)', title='Enable') Make Default
        //- td(ng-if="i.isDefault")
        //-   button.mb-sm.btn.btn-default(type='button', ng-click='enablebtn(false,i)', title='Disable') Make UnDefault
        td.text-center
          label.switch
            input(type='checkbox', ng-model='i.isDefault', ng-change='enablebtn(i.isDefault,i)')
            span