h3
  | Category Management
script#firstDialogId(type='text/ng-template').
  <div><h3 class="mt0">Delete Confirmation</h3><p>Do you want to delete ?</p><button class="btn btn-primary" type="button" ng-click="ConfirmDeletebtn(Categoryform)">Delete</button>
  </div>
.row
  .col-sm-12
    .panel.panel-default
      toaster-container(style='margin-top:80px', toaster-options="{'close-button':true}")
      .panel-heading New Category
      .panel-body(ng-show='editor')
        form(role='form', name='Categoryform', novalidate='')
          .row
            .col-md-6.col-lg-6
              .form-group
                label Category Name
                input.form-control(name='categorytxt', ng-model='category.name', placeholder='Category Name', required='')
                div(ng-show='Categoryform.$submitted || Categoryform.categorytxt.$touched')
                    .text-danger(ng-show='Categoryform.categorytxt.$error.required') Please enter category name
          button.btn.btn-sm.btn-default(type='submit', ng-click='Categoryform.$valid &&  submitbtn(category,Categoryform)') Submit
          button.btn.btn-sm.btn-default(type='reset', ng-click='disablenewcategory(Categoryform)') Cancel
      div(ng-hide='editor')
          button.btn.btn-green(ng-click='enablenewcategory(Categoryform)')
            | ADD NEW 
            i.fa.fa-plus
.container-fluid.table-responsive
  table.table.table-bordered.table-hover.bg-white(ng-show='categorygrid')
    thead
      tr(style='font-weight: bold')
        td(style='width:35%') Category Name
        td(style='width:15%') Delete
    tbody
      tr(ng-repeat='i in categorylist track by $index')
        td
          | {{i.name}}
        td
          button.btn.btn-sm.btn-danger(ng-click='Deletebtn(i)', title='Delete')
            em.fa.fa-trash
