.row
  .col-lg-12
    .panel.panel-default
      toaster-container(style='margin-top:80px', toaster-options="{'close-button':true}")
      .panel-heading Placeholder
      .panel-body
        form(form-wizard='', steps='6',name="placeholderform",novalidate='')
          .form-wizard.wizard-vertical
            ol
              li(ng-class="{'active':wizard.active(1)}", ng-click='wizard.go(1)')
                h4.mb0 Profile Picture
              li(ng-class="{'active':wizard.active(2)}", ng-click='wizard.go(2)')
                h4.mb0 Cover Picture
              li(ng-class="{'active':wizard.active(3)}", ng-click='wizard.go(3)')
                h4.mb0 Video
              li(ng-class="{'active':wizard.active(4)}", ng-click='wizard.go(4)')
                h4.mb0 Tweet Text
              li(ng-class="{'active':wizard.active(5)}", ng-click='wizard.go(5)')
                h4.mb0 Post Text Limit
              li(ng-class="{'active':wizard.active(6)}", ng-click='wizard.go(6)')
                h4.mb0 Post Photos Limit
            div(ng-show='wizard.active(1)')
              fieldset
                .form-group
                  .container-fluid
                          h4.page-header.mt0 Select Profile Picture
                          .col-md-6.col-lg-6
                            input#profile_pic.form-control(filestyle="",data-button-text="SELECT",type='file', accept='image/*', name='profilepicture', ng-model='article.picture', custom-on-change='uploadFile')
              button.btn.btn-info.btn-md(type='submit', ng-click="upload('profilepic')")
                span.icon-cloud-upload.mr
                | Upload
            div(ng-show='wizard.active(2)')
              fieldset
                .form-group
                  .container-fluid
                          h4.page-header.mt0 Select Cover Picture
                          .col-md-6.col-lg-6
                            input#cover_pic.form-control(filestyle="",data-button-text="SELECT",type='file', accept='image/*', name='picture', ng-model='article.picture', custom-on-change='uploadFile')
              button.btn.btn-info.btn-md(type='button', ng-click="upload('coverpic')")
                span.icon-cloud-upload.mr
                | Upload
            div(ng-show='wizard.active(3)')
              fieldset
                .form-group
                  .container-fluid
                          h4.page-header.mt0 Select Video
                          .col-md-6.col-lg-6
                            input#video.form-control(filestyle="",data-button-text="SELECT",type='file', accept='video/*', name='picture', ng-model='article.picture', custom-on-change='uploadFile')
              button.btn.btn-info.btn-md(type='button', ng-click="upload('video')")
                span.icon-cloud-upload.mr
                | Upload
            div(ng-show='wizard.active(4)')
              fieldset
                .form-group
                  .container-fluid
                          h4.page-header.mt0 Tweet Text
                          .col-md-6.col-lg-6
                            textarea#tweettext.form-control(type='text',name='tweettext', ng-model='placeholder.tweetText',placeholder="Tweet Text",required)
                            div(ng-show='placeholderform.$submitted || placeholderform.tweettext.$touched')
                              .text-danger(ng-show='placeholderform.tweettext.$error.required') Please enter tweet text
              button.btn.btn-md.btn-default(type='submit',ng-click='placeholderform.tweettext.$valid && tweettextbtn()')
                | Save
            div(ng-show='wizard.active(5)')
              fieldset
                .form-group
                  .container-fluid
                          h4.page-header.mt0 Post Text Limit
                          .col-md-6.col-lg-6
                            input#posttext.form-control(type='text',name='posttext', ng-model='placeholder.character_limit',placeholder="Post Text Limit",required)
                            div(ng-show='placeholderform.$submitted || placeholderform.posttext.$touched')
                              .text-danger(ng-show='placeholderform.posttext.$error.required') Please set limit of characters
              button.btn.btn-md.btn-default(type='submit',ng-click='placeholderform.posttext.$valid && posttextbtn()')
                | Save
            div(ng-show='wizard.active(6)')
              fieldset
                .form-group
                  .container-fluid
                          h4.page-header.mt0 Post Photos Limit
                          .col-md-6.col-lg-6
                            input#postphoto.form-control(type='text',name='postphoto', ng-model='placeholder.photo_limit',placeholder="Post Photos Limit",required)
                            div(ng-show='placeholderform.$submitted || placeholderform.postphoto.$touched')
                              .text-danger(ng-show='placeholderform.postphoto.$error.required') Please set number of photos
              button.btn.btn-md.btn-default(type='submit',ng-click='placeholderform.postphoto.$valid && postphotobtn()')
                | Save    
  .row
    .col-lg-12
      .col-lg-4
        .well
          h4 Profile Picture
          img.img-responsive.photoloaded.kpi(data-ng-src='{{placeholder.profilePic}}', data-imageloaded='', data-loadedclass='photoloaded',alt="Image not found",style='width:100%;height:200px')
      .col-lg-4
        .well
          h4 Cover Picture
          img.img-responsive.photoloaded.kpi(data-ng-src='{{placeholder.coverPic}}', data-imageloaded='', data-loadedclass='photoloaded',alt="Image not found",style='width:100%;height:200px')
      .col-lg-4
        .well
          h4 Video
          video.img-responsive.photoloaded.kpi(controls='' data-ng-src='{{placeholder.video}}',style='width:100%;height:200px')
            |   Your browser does not support HTML5 video.
                  
  