.row
  .col-lg-12
    .panel.panel-default
      toaster-container(style='margin-top:80px', toaster-options="{'close-button':true}")
      .panel-heading Landing
      .panel-body
        form(form-wizard='', steps='3',name="Landingform",novalidate='')
          .form-wizard.wizard-vertical
            ol
              li(ng-repeat="i in Landing",ng-class="{'active':wizard.active($index+1)}", ng-click='wizard.go($index+1)')
                h4.mb0 Landing {{i.type}}
            div(ng-show='wizard.active($index+1)',ng-repeat="i in Landing")
              uib-tabset(justified="true")
                uib-tab
                  uib-tab-heading
                    | Landing Cover Picture
                  div
                    fieldset
                      .form-group
                        .container-fluid
                                h4.page-header.mt0 Cover Picture
                                .col-md-6.col-lg-6
                                  input.form-control(filestyle="",data-button-text="SELECT",type='file', accept='image/*', name='coverpicture{{$index}}', ng-model='article.picture', custom-on-change='uploadFile')
                    button.btn.btn-info.btn-md(type='submit', ng-click="upload(i,$index)")
                      span.icon-cloud-upload.mr
                      | Upload
                uib-tab
                  uib-tab-heading
                    | Landing Name
                  div
                    fieldset
                      .form-group
                        .container-fluid
                                h4.page-header.mt0 Name
                                .col-md-6.col-lg-6
                                  textarea#lname.form-control(type='text',name='lname{{$index}}', ng-model='i.name',placeholder="Name",required)
                                  div(ng-show="Landingform.$submitted || Landingform['lname' + $index].$touched")
                                    .text-danger(ng-show="Landingform['lname' + $index].$error.required") Please enter landing name
                    button.btn.btn-md.btn-default(type='submit',ng-click="Landingform['lname' + $index].$valid && landingsubmibtn(i,'name',$index)")
                      | Save
                uib-tab
                  uib-tab-heading
                    | Landing Description
                  div
                    fieldset
                      .form-group
                        .container-fluid
                                h4.page-header.mt0 Description
                                .col-md-6.col-lg-6
                                  textarea#ldescriptiontext.form-control(type='text',name='ldescription{{$index}}', ng-model='i.description',placeholder="Landing Description",required)
                                  div(ng-show="Landingform.$submitted || Landingform['ldescription' + $index].$touched")
                                    .text-danger(ng-show="Landingform['ldescription' + $index].$error.required") Please enter landing description
                    button.btn.btn-md.btn-default(type='submit',ng-click="Landingform['ldescription' + $index].$valid && landingsubmibtn(i,'description',$index)")
                      | Save
  .row
    .col-lg-12
      .col-lg-4(ng-repeat="i in Landing")
        .well
          h4 Landing {{i.type}} Cover Picture
          img.img-responsive.photoloaded.kpi(data-ng-src='{{i.coverPicture}}', data-imageloaded='', data-loadedclass='photoloaded',alt="Image not found",style='width:100%;height:200px')