h3
  | Social Connection Management
.container-fluid.table-responsive
  toaster-container(style='margin-top:80px', toaster-options="{'close-button':true}")
  table.table.table-bordered.table-hover.bg-white(ng-show='socialgrid')
    thead
      tr(style='font-weight: bold')
        td(style='width:35%') Name
        td(style='width:20%') Status
        td(style='width:15%') Edit
    tbody
      tr(ng-repeat='i in SocialSiteList')
        td
          | {{i.name}}
        td.text-success(ng-if='i.status')
          | Enable
        td.text-danger(ng-if='!i.status')
          | Disable
        td
          button.mb-sm.btn.btn-default(type='button', ng-if='!i.status', ng-click='enablebtn(i,true)', title='Enable') Enable
          button.mb-sm.btn.btn-default(type='button', ng-if='i.status', ng-click='enablebtn(i,false)', title='Disable') Disable
