h3
  | Pre-Registration Management
script#firstDialogId(type='text/ng-template').
  <div><h3 class="mt0">Delete Confirmation</h3><p>Do you want to delete ?</p><button class="btn btn-primary" type="button" ng-click="ConfirmDeletebtn(preregistrationform)">Delete</button>
  </div>
script#IconPopup(type='text/ng-template').
  <div class="photo-wrapper">
  <img class="img-responsive photoloaded kpi" data-ng-src="{{icondisplay}}" data-imageloaded="" data-loadedclass="photoloaded" alt="Image not found"/>
  </div>
.row
  .col-sm-12
    .panel.panel-default
      toaster-container(style='margin-top:80px', toaster-options="{'close-button':true}")
      .panel-heading New Pre-Registration
      .panel-body(ng-show='editor')
        form(role='form', name='preregistrationform', novalidate='')
          .row
            .col-md-6.col-lg-6
              .form-group
                label Question
                input(type='hidden', name='', value='', ng-model='prereg.Id')
                textarea.form-control(name='question', ng-model='prereg.question', placeholder='Question', required='')
                div(ng-show='preregistrationform.$submitted || preregistrationform.question.$touched')
                    .text-danger(ng-show='preregistrationform.question.$error.required') Please enter question
            .row.col-md-12.col-lg-12
              .col-md-3.col-lg-3
                .form-group
                  label Option1
                  input#prereganswertxt1.form-control(type='text',name='answer1', ng-model='prereg.answer[0].value',placeholder="option1", required='')
                  div(ng-show='preregistrationform.$submitted || preregistrationform.answer1.$touched')
                    .text-danger(ng-show='preregistrationform.answer1.$error.required') Please enter option1
                .form-group
                  label Upload Icon
                    input#Icon1.form-control(filestyle="",data-button-text="SELECT",type='file', accept='image/*', name='option1image',ng-click='iconupload(0)', ng-model='article.picture1', custom-on-change='uploadFile')
              .col-md-3.col-lg-3
                .form-group
                  label Option2
                  input#prereganswertxt2.form-control(type='text',name='answer2', ng-model='prereg.answer[1].value',placeholder="option2", required='')
                  div(ng-show='preregistrationform.$submitted || preregistrationform.answer2.$touched')
                    .text-danger(ng-show='preregistrationform.answer2.$error.required') Please enter option2
                .form-group
                  label Upload Icon
                    input#Icon2.form-control(filestyle="",data-button-text="SELECT",type='file', accept='image/*', name='option2image',ng-click='iconupload(1)', ng-model='article.picture2', custom-on-change='uploadFile')
              .col-md-3.col-lg-3(ng-hide='hideoption3')
                .form-group
                  label Option3
                  input#prereganswertxt3.form-control(type='text',name='answer3', ng-model='prereg.answer[2].value',placeholder="option3")
                .form-group
                  label Upload Icon
                  input#Icon3.form-control(filestyle="",data-button-text="SELECT",type='file', accept='image/*', name='option3image',ng-click='iconupload(2)', ng-model='article.picture3', custom-on-change='uploadFile')
              .col-md-3.col-lg-3(ng-hide='hideoption4')
                .form-group
                  label Option4
                  input#prereganswertxt4.form-control(type='text',name='answer4', ng-model='prereg.answer[3].value',placeholder="option4")
                .form-group
                  label Upload Icon
                  input#Icon4.form-control(filestyle="",data-button-text="SELECT",type='file', accept='image/*', name='option4image',ng-click='iconupload(3)', ng-model='article.picture4', custom-on-change='uploadFile')
              div(ng-hide='!hideoption3 && !hideoption4')
                .col-md-3.col-lg-3
                  .form-group
                    label
                    div(style="margin-top: 8px;")
                      button.btn.btn-sm.btn-default(type='button', ng-click='addoptionsbtn()') Add Option
          div(ng-if='Createpreregbutton')
            button.btn.btn-sm.btn-default(type='submit', ng-click='preregistrationform.$valid &&  submitbtn(prereg,preregistrationform)') Submit
            button.btn.btn-sm.btn-default(type='reset', ng-click='disablenewprereg(preregistrationform)') Cancel
          div(ng-if='updatepreregbutton')
            button.btn.btn-sm.btn-default(type='submit', ng-click='preregistrationform.$valid &&  updatebtn(prereg,preregistrationform)') Update
            button.btn.btn-sm.btn-default(type='reset', ng-click='disableupdateprereg(preregistrationform)') Cancel
      div(ng-hide='editor')
          button.btn.btn-green(ng-click='enablenewprereg(preregistrationform)')
            | ADD NEW 
            i.fa.fa-plus
.container-fluid.table-responsive
  table.table.table-bordered.table-hover.bg-white(ng-show='prereggrid')
    thead
      tr(style='font-weight: bold')
        td(style='width:40%') Question
        td(style='width:30%') Answer
        td(style='width:15%') Edit
        td(style='width:15%') Delete
    tbody
      tr(ng-repeat='i in prereglist track by $index')
        td
          | {{i.question}}
        td
          p(ng-repeat="opt in i.options track by $index")
            | Option {{$index + 1}} - {{opt.value}}
            <a ng-if="opt.icon" ng-click="showicon(opt)" style="margin-left:10px">See Icon</a>
        td
          button.btn.btn-sm.btn-info(ng-click='Editbtn(i)', title='Edit')
            em.fa.fa-pencil
        td
          button.btn.btn-sm.btn-danger(ng-click='Deletebtn(i)', title='Delete')
            em.fa.fa-trash
