h3
  | User Channel
.container-fluid.table-responsive
  toaster-container(style='margin-top:80px', toaster-options="{'close-button':true}")
  table.table.table-bordered.table-hover.bg-white(ng-show='channelgrid')
    thead
      tr(style='font-weight: bold')
        td(style='width:35%') Status
        td(style='width:15%') Edit
      tr
        td.text-success(ng-if='channelStatus')
          | Enable
        td.text-danger(ng-if='!channelStatus') Disable
        td(ng-if="!channelStatus")
          button.mb-sm.btn.btn-default(type='button', ng-click='enablebtn(true)', title='Enable') Enable
        td(ng-if="channelStatus")
          button.mb-sm.btn.btn-default(type='button', ng-click='enablebtn(false)', title='Disable') Disable
