h3
  | Waiting List
.container-fluid.table-responsive
  toaster-container(style='margin-top:80px', toaster-options="{'close-button':true}")
  table.table.table-bordered.table-hover.bg-white(ng-table="waitinglistTable",ng-show='waitinglistgrid')
    thead
      tr(style='font-weight: bold')
        td(style='width:40%') Email
        td(style='width:20%') Channel Id
        td(style='width:25%') Channel Title
        td(style='width:15%') Country
    tbody    
      tr(ng-repeat='i in Waitinglist track by $index')
        td
          | {{i.email}}
        td
          | {{i.channelId}}
        td
          | {{i.channelName}}
        td
          | {{i.country}}