doctype html
html(lang="en", data-ng-app="angle")

  head
    style.
      [ajax-cloak], [data-ajax-cloak], [x-ajax-cloak], .ajax-cloak {
      display: none !important;
      }
        @keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }  
        }
        .kpi {
        animation: fadein 2s;
        }
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    meta(name='description', content='{{app.description}}')
    meta(name='keywords', content='app, responsive, angular, bootstrap, dashboard, admin')

    title(ng-bind="$state.current.data.pageTitle")
    // Bootstrap styles
    link(rel='stylesheet', href='app/css/bootstrap.css', data-ng-if="!app.layout.isRTL")
    link(rel='stylesheet', href='app/css/bootstrap-rtl.css', data-ng-if="app.layout.isRTL")
    // Application styles
    link(rel='stylesheet', href='app/css/app.css', data-ng-if="!app.layout.isRTL")
    link(rel='stylesheet', href='app/css/app-rtl.css', data-ng-if="app.layout.isRTL")
    // Themes
    link(rel='stylesheet', ng-href='{{app.layout.theme}}', data-ng-if="app.layout.theme")
    link(rel='shortcut icon', ng-href='../../app/img/favicon.ico')

  body(ng-controller="mainCtrl" ,data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat, 'offsidebar-open': app.offsidebarOpen, 'aside-toggled': app.asideToggled, 'aside-collapsed-text': app.layout.isCollapsedText}")

    div(data-preloader)

    .wrapper(ng-cloak data-ui-view="", data-autoscroll='false')

    script(src='app/js/base.js')
    script(src='app/js/app.js')
    //- templates:js
    //- endinject
