.block-center.mt-xl.wd-xl
  // START panel
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      a(href='#')
        img.block-center.img-rounded(src='app/img/logo.png', alt='Image')
    .panel-body
      toaster-container(toaster-options="{'close-button':true}")
      p.text-center.pv SIGN IN TO CONTINUE
      form.form-validate.mb-lg(role='form', name='loginForm', ng-submit='loginForm.$valid && signIn()', novalidate='')
        .form-group.has-feedback
          input.form-control(type='text', name='username', placeholder='Enter Username', autocomplete='off', ng-model='loginData.userName', required='')
          span.fa.fa-envelope.form-control-feedback.text-muted
          .text-danger(ng-show='loginForm.$submitted || loginForm.username.$touched')
            div(ng-show='loginForm.username.$error.required') Please enter user name
        .form-group.has-feedback
          input.form-control(type='password', name='password', placeholder='Password', ng-model='loginData.password', required='')
          span.fa.fa-lock.form-control-feedback.text-muted
          .text-danger(ng-show='loginForm.$submitted || loginForm.password.$touched')
            div(ng-show='loginForm.password.$error.required') Please enter password
        .clearfix
          .checkbox.c-checkbox.pull-left.mt0
            label
              input(type='checkbox', value='', name='remember', ng-model='loginData.rememberMe')
              span.fa.fa-check
              | Remember Me
          .pull-right
            a.text-muted(ui-sref='page.recover') Forgot your password?
        button.btn.btn-block.btn-primary.mt-lg(type='submit') Login
  // END panel