.block-center.mt-xl.wd-xl
  // START panel
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      a(href='#')
        img.block-center.img-rounded(src='app/img/logo.png', alt='Image')
    .panel-body
      p.text-center.pv PASSWORD RESET
      toaster-container(toaster-options="{'close-button':true}")
      form.form-validate(role='form', name='forgottform', novalidate='', ng-submit='forgottform.$valid && forgetPasswordSubmit()')
        p.text-center Fill with your mail to receive instructions on how to reset your password.
        .form-group.has-feedback
          label.text-muted Email address
          input.form-control(type='email', name='Useremail', placeholder='Enter email', autocomplete='off', ng-model='Forgot.Useremail', required='')
          span.fa.fa-envelope.form-control-feedback.text-muted
          .text-danger(ng-show='forgottform.$submitted || forgottform.Useremail.$touched')
            div(ng-show='forgottform.Useremail.$error.required') Please enter email
          .text-danger(ng-show='forgottform.$submitted || forgottform.Useremail.$touched')
            div(ng-show='forgottform.Useremail.$error.email') Please enter valid email
        button#back-btn.btn(type='button', ng-click='backToLogin()')
          | Back
        button.btn.btn-danger.pull-right(type='submit') Reset
  // END panel
