// START Off Sidebar (right)
nav
  uib-tabset(justified="true")
    uib-tab
      uib-tab-heading
        em.icon-equalizer.fa-lg
      div(ng-include="'app/views/partials/settings.html'")

    //- uib-tab
    //-   uib-tab-heading
    //-     em.icon-user.fa-lg
    //-   div
    //-     div(ng-include="'app/views/partials/chat.html'")

// END Off Sidebar (right)