nav.navbar.topnavbar(role='navigation')
  // START navbar header
  .navbar-header
    a.navbar-brand(href='#/')
      .brand-logo
        img.img-responsive(src='app/img/logo.png', alt='App Logo')
      .brand-logo-collapsed
        img.img-responsive(src='app/img/logo-single.png', alt='App Logo')
  // END navbar header
  // START Nav wrapper
  .nav-wrapper
    // START Left navbar
    ul.nav.navbar-nav
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a.hidden-xs(href='', trigger-resize='', ng-click='app.layout.isCollapsed = !app.layout.isCollapsed', ng-if='!app.layout.isCollapsedText')
          em.fa.fa-navicon
        // Button to show/hide the sidebar on mobile. Visible on mobile only.
        a.visible-xs.sidebar-toggle(href='', ng-click='app.asideToggled = !app.asideToggled')
          em.fa.fa-navicon
      // START User avatar toggle
      li
        // Button used to collapse the left sidebar. Only visible on tablet and desktops
        a(href='', ng-click='toggleUserBlock()')
          em.icon-user
      // END User avatar toggle
      // START lock screen
      //- li
      //-   a(ui-sref='page.lock', title='Lock screen')
      //-     em.icon-lock
      // END lock screen
    // END Left navbar
    // START Right Navbar
    ul.nav.navbar-nav.navbar-right
      // Search icon
      //- li
      //-   a(href='', search-open='search-open')
      //-     em.icon-magnifier
      // Fullscreen (only desktops)
      li.visible-lg
        a(href='', toggle-fullscreen='toggle-fullscreen')
          em.fa.fa-expand
      // START Alert menu
      //- li.dropdown.dropdown-list(uib-dropdown='')
      //-   a(uib-dropdown-toggle='')
      //-     em.icon-bell
      //-     .label.label-danger 11
      //-   // START Dropdown menu
      //-   ul.dropdown-menu.animated.flipInX
      //-     li
      //-       // START list group
      //-       .list-group
      //-         // list item
      //-         a.list-group-item(href='')
      //-           .media-box
      //-             .pull-left
      //-               em.fa.fa-twitter.fa-2x.text-info
      //-             .media-box-body.clearfix
      //-               p.m0 New followers
      //-               p.m0.text-muted
      //-                 small 1 new follower
      //-         // list item
      //-         a.list-group-item(href='')
      //-           .media-box
      //-             .pull-left
      //-               em.fa.fa-envelope.fa-2x.text-warning
      //-             .media-box-body.clearfix
      //-               p.m0 New e-mails
      //-               p.m0.text-muted
      //-                 small You have 10 new emails
      //-         // list item
      //-         a.list-group-item(href='')
      //-           .media-box
      //-             .pull-left
      //-               em.fa.fa-tasks.fa-2x.text-success
      //-             .media-box-body.clearfix
      //-               p.m0 Pending Tasks
      //-               p.m0.text-muted
      //-                 small 11 pending task
      //-         // last list item
      //-         a.list-group-item(href='')
      //-           small(translate='topbar.notification.MORE') More notifications
      //-           span.label.label-danger.pull-right 14
            // END list group
        // END Dropdown menu
      // END Alert menu
      // START Offsidebar button
      li
        a(href='', ng-click='app.offsidebarOpen = !app.offsidebarOpen')
          em.icon-notebook
      // END Offsidebar menu
    ul.nav.navbar-nav(ng-controller='TopbarController')
      li.dropdown(uib-dropdown='')
        a.dropdown-toggle(href='', uib-dropdown-toggle='')
          span {{username}}
          b.caret
        ul.dropdown-menu
          li
            a(href='javascript:void(0)', ng-click='logout()') Signout
    // END Right Navbar
  // END Nav wrapper
  // START Search form
  form.navbar-form(role='search', action='search.html')
    .form-group.has-feedback
      input.form-control(type='text', placeholder="{{ 'topbar.search.PLACEHOLDER' | translate }}")
      .fa.fa-times.form-control-feedback(search-dismiss='search-dismiss')
    button.hidden.btn.btn-default(type='submit') Submit
  // END Search form
// END Top Navbar
